@model OhadsCarRental.CarModelViewModel

@{
    ViewBag.Title = "Edit a Car Model - Ohad's Car Rental";

    string manufacturerModel = Model.CarModel.ManufacturerModel.Manufacturer.ManufacturerName + " " +
                               Model.CarModel.ManufacturerModel.ManufacturerModelName;
}

<div class="d-section">
    <h1 class="d-title">Edit a Car Model</h1>
    <hr class="d-title-separator" />

    <div class="basic-form small">

        <div class="basic-form-row">
            <span class="basic-btn medium">@Html.ActionLink("Back to List", "Index")</span>
        </div>

        <div class="basic-form-row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Car Model</legend>

                    @Html.HiddenFor(model => model.CarModel.CarModelID)
                    @Html.HiddenFor(model => model.CarModel.ManufacturerModelID)

                    <label>Manufacturer Model</label>
                    <input type="text" value="@manufacturerModel" class="tinted" readonly />

                    @Html.LabelFor(model => model.CarModel.ProductionYear, "Production Year")
                    @Html.ValidationMessageFor(model => model.CarModel.ProductionYear)
                    @Html.EditorFor(model => model.CarModel.ProductionYear)

                    @Html.HiddenFor(model => model.CarModel.ManualGear)
                    @Html.LabelFor(model => model.GearDDL.SelectedGear, "Gear")
                    @Html.ValidationMessageFor(model => model.GearDDL.SelectedGear)
                    @Html.DropDownListFor(m => m.GearDDL.SelectedGear, new SelectList(Model.GearDDL.Gear, "Value", "Text"), "-- Select --")

                    @Html.LabelFor(model => model.CarModel.DailyPrice, "Daily Price")
                    @Html.ValidationMessageFor(model => model.CarModel.DailyPrice)
                    @Html.EditorFor(model => model.CarModel.DailyPrice)

                    @Html.LabelFor(model => model.CarModel.DayDelayPrice, "Day Delay Price")
                    @Html.ValidationMessageFor(model => model.CarModel.DayDelayPrice)
                    @Html.EditorFor(model => model.CarModel.DayDelayPrice)

                    <input type="submit" value="Save Changes" class="attn-lvl-m" />
                </fieldset>
            }
        </div>

        <p class="validation-summary-errors">@ViewBag.ErrorMessage</p>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/DropDownLists")
}
